$white: #FFF;
$aqua: #87befd;
$deep-pink: rgb(241, 163, 241);
$light-green: rgb(186, 214, 28);
$orange: #FF8856;
$menu-btn-box-shadow: rgba(0, 0, 0, 0.29);
$menu-btn-box-shadow-active: rgba(0, 0, 0, 0.15);
$Body-background-color: #e6ecf0;
