
<div class="contents">
  <div class="contents__top">
    <div class="contents__top__title">
      <h2>Next Plan</h2>
    </div>
    <div class="contents__top__card">
      <div class="contents__top__card_titles">
        <div class="contents__top__card__title_time">
          <p>開催日時</p>
          <p class="contents__top__card__title__text">2018/07/07 17:00</p>
        </div>
        <div class="contents__top__card__title_plan-name">
          <p>プラン名</p>
          <p class="contents__top__card__title__text">わたさんの誕生日</p>
        </div>
        <div class="contents__top__card__title_place">
          <p>集合場所</p>
          <p class="contents__top__card__title__text">恵比寿ガーデンプレイス</p>
        </div>
      </div>
    </div>
  </div>

  <div class="contents__bottom">
    <div class="contents__bottom__title"></div>
      <h2>Menu</h2>
    <div class="contents__bottom__contents">
      <div class="contents__bottom__contents__logo">
        <a href="#" class="contents__bottom__contents__logo-todo__btn .btn:active">やりたいこと</a>
      </div>
      <div class="contents__bottom__contents__logo">
        <a href="#" class="contents__bottom__contents__logo-plan__btn .btn:active">プランを作成</a>
      </div>
      <div class="contents__bottom__contents__logo">
        <a href="#" class="contents__bottom__contents__logo-diary__btn .btn:active">日記</a>
      </div>
      <div class="contents__bottom__contents__logo">
        <a href="#" class="contents__bottom__contents__logo-image__btn .btn:active">写真</a>
      </div>
    </div>
  </div>
</div>
